* {
    white-space: break-spaces;
    text-align: left;
}

#root {
    position: fixed;
    top: 0;
    height: 100svh;
    width: 100vw;
}

#main {
    display: flex;
    margin: 1.5svh;
}

#left {
    line-height: 19px;
    height: 95svh;
    width: 60vw;
    overflow-y: scroll;
}

#left p {
    margin: 0;
}

.dots {
    width: 10vw;
    display: flex;
    justify-content: center;
    padding: 3svh 0;
}

.dots-pulse {
    position: relative;
    left: -10030px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    color: #000;
    animation: dots-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
}

.dots-pulse::before, .dots-pulse::after {
    content: "";
    position: absolute;
    top: 0;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    color: #000;
}

.dots-pulse::before {
    box-shadow: 9984px 0 0 -4px;
    animation: dots-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dots-pulse::after {
    box-shadow: 10014px 0 0 -4px;
    animation: dots-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}
  
@keyframes dots-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -3px;
    }
    30% {
        box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 9984px 0 0 -3px;
    }
}

@keyframes dots-pulse {
    0% {
        box-shadow: 9999px 0 0 -3px;
    }
    30% {
        box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 9999px 0 0 -3px;
    }
}

@keyframes dots-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -3px;
    }
    30% {
        box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 10014px 0 0 -3px;
    }
}

#right {
    width: 40vw;
    float: right;
}

form {
    display: flex;
    flex-direction: column;
}

#generatedImage {
    margin: auto;
    height: 85svh;
}

#generatedImage img {
    max-width: 35vw;
    max-height: 80svh;
}

div#userInput {
    background-color: #FFF;
    display: flex;
    margin: 0 1.5vw 1vw 1.5vw;
}


textarea {
    padding: 4px;
    width: 25vw;
    margin: 0 1vw;
}

button {
    padding: 2px;
    height: 12svh;
    width:  7vw;
    text-align: center;
    border: none;
}
.ImageButtonContainer {  
    background-color: #4cc0a4;
}

.ImageButtonContainerRecording {  
    background-color: #c80900;
}

.microphoneIcon {
    margin: auto;
    height: 9svh;
    background-color: transparent;
}

#sendButton {
    background-color: #1483b5;
}

.sendIcon {
    margin: auto;
    height: 9svh;
    background-color: transparent;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
  
.ImageButtonContainerRecording img {
    margin: auto;
    border: none;
    animation: pulse 2s infinite;
}

.asideToggle {
    position: fixed;
    width: 3vw;
    top: 40svh;
    right: 1.2vw;
    border: none;
    background-color: transparent;
}

.asideToggleOpen {
    position: fixed;
    top: 40svh;
    right: 28vw;
    border: none;
    background-color: transparent;
}

.toggleIcon {
    margin: auto;
    height: 11svh;
    background-color: transparent;
}

aside {
    line-height: 15px;
    font-size: 15px;
    height: 98.2svh;
    width: 30vw;
    overflow-y: scroll;
    border-left: 1px solid black;
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #efefef;
}

ul {
    margin: 0;
    padding: 1.4svh;
    list-style: none;
    height: 100%;
}

li:nth-child(odd) {
    color: #123899;
    margin-bottom: 1.5svh;
} 

li:nth-child(even) {
    color:#469912;
    margin-bottom: 1.5svh;
} 