@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

* {
    white-space: break-spaces;
    text-align: left;
}

#root {
    position: fixed;
    top: 0;
    height: 100svh;
    width: 100vw;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
}

#main {
	font-family: 'Germania One';
    display: flex;
    margin: 2svh;
}

.openMenu {
    width: 16vw;
    height: 100svh;
    background-color: #cedcde;
    position: absolute;
    top: 0svh;
    left: 0vw;    
    z-index: 2;
}

.navButton {
    position: absolute;
    top: 9px;
    left: 7px;
    background-color: transparent;
    width: 4vw;
    height: 4vw;
}

.navIcon {
    width: 4vw;
}

#left {
    margin-left: 4.25vw;
    line-height: 4svh;
    height: 95svh;
    width: 60vw;
    font-size: 20px;
}

#left p {
    margin: -2.5svh 0 0 0;
    color: #1D1C1C;
    padding-top: 2svh;
    height: 80svh;
    overflow-y: scroll;
}

.dots {
    width: 10vw;
    height: 74svh;
    display: flex;
    justify-content: center;
    margin-left: 0.75vw;
    padding: 3svh 0;
}

.dots-pulse {
    position: relative;
    left: -10030px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    color: #1D1C1C;
    animation: dots-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
}

.dots-pulse::before, .dots-pulse::after {
    content: "";
    position: absolute;
    top: 0;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    color: #1D1C1C;
}

.dots-pulse::before {
    box-shadow: 9984px 0 0 -4px;
    animation: dots-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dots-pulse::after {
    box-shadow: 10014px 0 0 -4px;
    animation: dots-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}
  
@keyframes dots-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -3px;
    }
    30% {
        box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 9984px 0 0 -3px;
    }
}

@keyframes dots-pulse {
    0% {
        box-shadow: 9999px 0 0 -3px;
    }
    30% {
        box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 9999px 0 0 -3px;
    }
}

@keyframes dots-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -3px;
    }
    30% {
        box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 10014px 0 0 -3px;
    }
}

#textToSpeech {
    display: block;
    background: rgba(125, 17, 226, 0.274);
    height: 19svh;
    margin-left: -2svh;
    padding-left: 2svh;
    padding-top: 0.5svh;
}

#right {
    width: 40vw;
    float: right;
}

form {
    display: flex;
    flex-direction: column;
}

#generatedImage {
    background-color: transparent;
    width: 40vw;
    height: 80svh;
    text-align: center;
}

#generatedImage img {
    max-width: 35vw;
    max-height: 78svh;
}

div#userInput { 
    height: 19svh;  
    width: 41vw;
    background: rgba(125, 17, 226, 0.274);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


textarea {
    padding: 4px;
    height: 10.5svh;
    width: 22vw;
    margin: auto 1vw;
    background: rgba(255, 255, 255, 0.5);
}

button {
    padding: 2px;
    height: 12svh;
    width:  6.5vw;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.ImageButtonContainer {  
    background-color: transparent;
}

.ImageButtonContainerRecording {  
    background-color: transparent;
}

.microphoneIcon {
    margin: auto;
    height: 11svh;
    background-color: transparent;
}

#sendButton {
    background-color: transparent;
}

.sendIcon {
    margin: auto;
    height: 11svh;
    background-color: transparent;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
  
.ImageButtonContainerRecording img {
    margin: auto;
    border: none;
    animation: pulse 2s infinite;
}

.asideToggle {
    position: fixed;
    width: 3vw;
    top: 40svh;
    right: 2.5vw;
    border: none;
    background-color: transparent;
}

.asideToggleOpen {
    position: fixed;
    top: 40svh;
    right: 30vw;
    border: none;
    background-color: transparent;
}

.toggleIcon {
    margin: auto;
    height: 11svh;
    background-color: transparent;
}

aside {
    line-height: 15px;
    font-size: 15px;
    height: 100svh;
    width: 30vw;
    overflow-y: scroll;
    border-left: 1px solid #1D1C1C;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: #cedcde;
}

ul {
    margin: 0;
    padding: 1.4svh;
    list-style: none;
    height: 100%;
}

li:nth-child(odd) {
    color: #1c7c37;
    margin-bottom: 1.5svh;
} 

li:nth-child(even) {
    color:#438294;
    margin-bottom: 1.5svh;
} 

span {
    color: #6C6;
    font-size: 135px;
}