#voiceSettings {
  display: inline-block;
  line-height: 4svh;
  margin-right: 2vw;
}

label {
  margin-right: 2vw;
  display: inline-block;
  width: 60px;
  color: #1D1C1C;
}

select {
    background: rgba(255, 255, 255, 0.5);
    width: 18vw;
}

input {
  position: relative;
  top: 50%;
  transform: translate(0, -20%);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 1.25svh;
  width: 17.75vw;
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid #1D1C1C;
  /* border-radius: 10px; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    width: 3svh;
    height: 3svh;
    border-radius: 0 !important;
    cursor: pointer;
    background: url('images/d20-icon.png') no-repeat;
    background-size: contain;
  }


/* .slider::-moz-range-thumb {
  width: 1.25svh;
  height: 1.5svh;
  background-image: url('images/d20-icon.png');
  cursor: pointer;
  transform: scaleX(100) scaleY(100);
} */

#audioControls {
  display: inline-block;
  margin-left: -1vw;
  align-items: center;
}

#audioControls button {
  width: 10svh;
  height: 10svh;
  margin: 2svh;
  border-radius: 5px;
  background-color: transparent;
}

#audioControls img {
  width: 12svh;
  padding: 5px;
}
